---
import { javadocLink } from "@/utils/links.ts";

interface Props {
    path: string;
    member?: string;
    root?: boolean;
    code?: boolean;
}

const { path, member, root = true, code = true } = Astro.props;
const href = javadocLink(path, { member, root });
---

<a href={href} target="_blank" rel="noopener noreferrer">{code ? <code><slot /></code> : <slot />}</a>